center {
font-size:80px;color:green;font-weight:bold;font-family:algerian;background-color:lime;}

body  {background-color:aqua;}
h1  {color:navy;font-family:arial black;}
h2{color:red;}
h3{ text-align:center;background-color:red;color:white;width:150px;height:40px;}
h4{color:white;font-size:20px;}
p{background-color:darkblue;color:white;width:350px;height:40px;font-size:20px;}
 
 